.Input{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

input{
   width: 100px;
   padding: 12px 200px;
   margin: 8px 0px;
   height: 20px;
   border-radius: 22px;
   border: grey;
}

input:focus{
    border: grey;
}